.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 350px;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .profile__name {
    max-width: 280px;
    font-style: normal;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}