.profile__column {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .profile__column {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}