.profile {
  display: flex;

  align-items: center;
  margin-bottom: 51px;
}

@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    width: 88%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}
