.profile__button-edit {
  height: 24px;
  width: 24px;
  align-self: end;
  margin-bottom: 8px;
  background-image: url(../../../images/editButton.svg);
  border: none;
  outline: none;
  background-color: transparent;
  background-size: contain;
}
.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .profile__button-edit {
    height: 18px;
    width: 18px;
    justify-self: center;
    margin-bottom: 6px;
    right: 20px;
    top: 3px;
    padding: 0;
  }
}