auth__input {
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: transparent;
  padding: 0 0 8px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 26px;
  outline: none;

}

.auth__form:last-of-type {

  margin-bottom: 0;
  
}