.header {
  display: flex;
  margin-top: 45px;
  margin-bottom: 36.25px;
  align-self: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}